---
import Social from "./Social.astro";
const platform = 'github'
const username = 'ys251294'
---

<footer>
    <p>LEarn more about my projects and me on</p>
    <Social platform="Twitter" username="theyogender" />
    <Social platform="GitHub" username="ys251294"/>
    <Social platform="Instagram" username="theyogender"/>
    <Social platform="LinkedIn" username="theyogender"/>
</footer>
